<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Proyectos
      </h6>
      <h3 class="dashhead-title">Crear Proyecto</h3>
    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Proyectos / Crear proyecto
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-md-6">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de proyectos</h3>
                <!-- <div class="box-tools">
                      <a href="https://nosir.github.io/cleave.js/" target="_blank">
                        <em>https://nosir.github.io/cleave.js/</em>
                      </a>
                    </div> -->
              </header>
              <div class="box-body">
                <div class="panel panel-default">

                  <ul class="list-group">
                    <a class="list-group-item" *ngFor="let project of projectListArray">{{project.name}}</a>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <div class="col-md-6">
        <!-- BEGIN: flatpickr -->
        <div class="row">

          <div class="col-xs-12">
            <div class="box">
              <header class="bg-belize-hole text-white">
                <h4>Crear nuevo proyecto</h4>
                <!-- begin box-tools -->
                <!-- <div class="box-tools">
                          <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                          <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                          <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                          <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                        </div> -->
                <!-- END: box-tools -->
              </header>
              <div class="box-body collapse in">

                <form (submit)="addProject()">
                  <div class="form-group">
                    <label for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Escriba un nombre para el proyecto ...">
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <!-- <div class="form-group">
                            <label for="textarea1" class="col-sm-4 control-label">Descripción</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..." data-plugin="autosize"></textarea>
                            </div>
                          </div> -->
                  <div class="form-group">
                    <label for="itext">Descripción </label>
                    <div class="">
                      <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                        name="description" [(ngModel)]="description" data-plugin="autosize"></textarea>
                      <!-- <div class="icon">
                                  <i class="fa fa-fw fa-pencil"></i>
                                </div> -->
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label for="itext">Ubicación </label>
                    <div class="icon-before-input">
                      <textarea class="form-control" rows="3" id="textarea1" name="ubication" placeholder="Escriba la ubicación del proyecto ..."
                        data-plugin="autosize" [(ngModel)]="ubication" ></textarea>
                      <div class="icon">
                        <i class="fa fa-2x fa-map-marker"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <label for="">inicio</label>
                  <div class="input-group">
                    <span class="input-group-addon" id="cd1">
                      <i class="fa fa-fw fa-calendar"></i>
                    </span>
                    <input type="text" class="cleave-date1 form-control" name="inicio" placeholder="2016/08/20" aria-describedby="cd1" [(ngModel)]="inicio">
                  </div>


                  <hr class="b-s-dashed">

                  <label for="">Final</label>
                  <div class="input-group">
                    <span class="input-group-addon" id="cd1">
                      <i class="fa fa-fw fa-calendar"></i>
                    </span>
                    <input type="text" class="cleave-date1 form-control" name="final" placeholder="2016/08/20" aria-describedby="cd1" [(ngModel)]="final">
                  </div>


                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label >Administrador</label>
                    <div class="col-sm-10">
                      <select class="form-control"  name="administrador" [(ngModel)]="administrador" >
                        <option  *ngFor="let user of userListArray" value="{{user.name}}">{{user.name}}</option>
                        
                      </select>
                    </div>
                  </div>

  <br>
                  <hr class="b-s-dashed">

                  <label class="">Empleado</label>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <select class="form-control" name="empleado" [(ngModel)]="empleado" >
                        <option  *ngFor="let user of userListArray"  value="{{user.name}}">{{user.name}}</option>
                      </select>
                    </div>
                  </div>



                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success">Crear Proyecto</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->
