<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Proyectos
      </h6>
      <h3 class="dashhead-title">Proyectos</h3>
    </div>
    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Proyectos
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">

        <div class="col-md-12">
            <div class="box">
    <div><input type="file" (change)="onFileChange($event)" multiple="false" /></div> <br>
    <table class="table">
        <tr *ngFor="let row of data">
          <td *ngFor="let val of row">
            {{val}}
          </td>
        </tr>
      </table>
              
            </div>
          </div>

      <div class="col-md-8">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de proyectos</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" id="btncolapse" class="fa fa-plus-circle fa-2x deleteEvent" (click)="toogleProjects()"></i>
                </div>
              </header>
              <div class="list-group filter-wrap">
                <div class="row">
                  <div class="col-md-4">
                    <form>
                       <div class="form-group" style="padding:5px">
                          <label for="itext">Buscar Proyecto</label>
                          <div class="icon-after-input">
                            <input type="text" class="form-control input-sm p-r-80" id="atext3" name="search" placeholder="Buscar..."
                              [(ngModel)]="searchterm" (keydown)="search($event)" (keyup)="search($event)">
                            <div class="icon">
                              <button class="btn btn-info btn-sm btn-rect" type="button"><i class="fa fa-search fa-lg"></i></button>
                            </div>
                          </div>
                        </div>
                      </form> 
                  </div>
                </div>
                <article class="list-group-item" *ngFor="let project of clubs; let i = index">
                  <header class="filter-header">
                    <i class="icon-action fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"></i>
                    <i class="icon-action fa fa-edit" style="color:#6fb478" (click)="editProject(project)"></i>
                    <i class="icon-action fa fa-times" style="color:#d64040" (click)="onDeleteProject(project)"></i>
                    <h6 class="title">{{project.title | titlecase}}</h6>
                  </header>
                  <div class="filter-content collapse" id="{{'collapse' + i}}">
                    <div class="row">
                      <div class="col-md-6">
                          <b>Descripción:</b> {{project.description}} <br>
                          <b>Inicio:</b> {{project.start.date | date}}&nbsp;{{project.start.time }} hrs.<br>
                          <b>Final:</b> {{project.end.date | date}}&nbsp;{{project.end.time}} hrs.<br>
                      </div>
                      <div class="col-md-6">
                        <b>Administradores:</b><br>
                      <ul>
                        <li *ngFor="let admin of objectValues(project.administrators)" >{{admin}}</li>
                      </ul>
                      <b>Ubicación:</b> <br>
                          <agm-map [zoom]="14" [latitude]="project.ubication.lat" [longitude]="project.ubication.lng">
                            <agm-marker 
                            [latitude]="project.ubication.lat" 
                            [longitude]="project.ubication.lng" 
                            [markerDraggable]="false"
                            ></agm-marker>
                          </agm-map>   
                           <br>
                    </div>
                    </div>
                  </div>
                </article>
                <div *ngIf="clubs?.length < 1">
                  <p class="text-center">Ningún resultado para "{{searchterm}}"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- BEGIN: flatpickr -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header class="bg-belize-hole text-white">
                <h4>Crear nuevo proyecto</h4>
                <!-- begin box-tools -->
                <!-- <div class="box-tools">
                          <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                          <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                          <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                          <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                        </div> -->
                <!-- END: box-tools -->
              </header>

              <div class="box-body collapse in">
                <form (submit)="addProject()">
                  <div class="form-group">
                    <label for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input type="text" class="form-control" name="name" [(ngModel)]="projectDoc.name"  placeholder="Escriba un nombre para el proyecto ..." required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed" >

                  <mat-checkbox color="primary" (change)="checkSub()" style="float: 0px;"> Agregar subproyectos?</mat-checkbox>
                  
                  <!-- *ngIf="sub == true" -->

                  <div *ngIf="sub == true">
                    
                    <form class="form-inline" (submit)="PushSubproject()">
                      <div class="form-group">
                        <!-- <label for="exampleInputEmail2">Email</label> -->
                        <input type="text" name="subproject" class="form-control" [(ngModel)]="subproject" placeholder="Nombre de subproyecto">
                      </div>
                      <button type="submit" style="margin-left: 5px" class="btn btn-info"><i class="fa fa-check"></i></button>
                    </form>
  
                  <ul>
                    <li *ngFor="let subproject of projectDoc.subprojects"> {{subproject}}</li>
                  </ul>
                  </div>

                  <hr class="b-s-dashed">

                  <!-- <div class="form-group">
                            <label for="textarea1" class="col-sm-4 control-label">Descripción</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..." data-plugin="autosize"></textarea>
                            </div>
                          </div> -->
                  <div class="form-group">
                    <label for="itext">Descripción </label>

                    <div class="">
                      <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                        name="description" [(ngModel)]="projectDoc.description" data-plugin="autosize" required></textarea>
                   
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label for="itext">Ubicación <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <agm-map [latitude]="projectDoc.ubication.lat" [longitude]="projectDoc.ubication.lng">
                        <agm-marker 
                        [latitude]="projectDoc.ubication.lat" 
                        [longitude]="projectDoc.ubication.lng" 
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd( $event)"
                        ></agm-marker>
                      </agm-map>   
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                      <label for="itext">Fecha de inicio <span class="required">*</span></label>
                      <div class="panel-body">
                          <input
                            class="form-control"
                            minDate="today"                    
                            type="text"
                            mwlFlatpickr
                            [(ngModel)]="projectDoc.start"
                            [altInput]="true"
                            name="start"
                          
                            [convertModelValue]="false"
                            placeholder="dd/mm/yyyy"
                            [enableTime]="true"
                            dateFormat="Y-m-dTH:i" required>
                        </div>
                    </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                      <label for="itext">Fecha de término <span class="required">*</span></label>
                      <div class="panel-body">
                          <input
                            class="form-control"
                            type="text"
                            minDate="today"                    
                            
                            mwlFlatpickr
                            [(ngModel)]="projectDoc.end"
                            [altInput]="true"
                            name="end"
                            placeholder="dd/mm/yyyy"

                            [convertModelValue]="false"
                            [enableTime]="true"
                            dateFormat="Y-m-dTH:i" required>
                        </div>
                    </div>

                  <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Date range picker</h3>
                    </div>
                    <div class="panel-body">
                      <input
                        class="form-control"
                        type="text"
                        mwlFlatpickr
                        [(ngModel)]="rangeValue"
                        [altInput]="true"
                        [convertModelValue]="true"
                        name="daterange" 
                        [enableTime]="true"
                        mode="range">
                      NgModel value: {{ rangeValue | json }}
                    </div>
                  </div> -->

                  <!-- <div class="row text-center">
                    <div class="col-md-12">
                      <label id="labelstart" for="">Inicio de Proyecto <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="startdate" name="startdate" [(ngModel)]="projectDoc.start.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="starttime" name="starttime" [(ngModel)]="projectDoc.start.time" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px">
                      <label id="labelend" for="">Fin de Proyecto <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="enddate" name="enddate" [(ngModel)]="projectDoc.end.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="endtime" name="endtime" [(ngModel)]="projectDoc.end.time" required>
                        </div>

                      </div>
                    </div>
                  </div> -->


                  <hr class="b-s-dashed">

                  <div class="form-group">
                      <label class="col-sm-12 control-label">Administrador(es) <span class="required">*</span> </label>
                      <div class="col-sm-12">
                        <select class="form-control size-full" name="admin[]" multiple [(ngModel)]="projectDoc.administrators" >
                            <option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</option>
                        </select>
                      </div>
                    </div>


                  <!-- <div class="form-group">
                    <label>Administrador</label>
                    <div class="col-sm-10">
                      <select class="form-control" name="administrador" [(ngModel)]="administrador">
                        <option *ngFor="let user of userListArray" value="{{user.name}}">{{user.name}}</option>

                      </select>
                    </div>
                  </div> -->

                  <br>
                  <hr class="b-s-dashed">




                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success">Crear Proyecto</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->

<!-- modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (submit)="updateProject()">

          <div class="form-group">
            <label for="itext">Nombre <span class="required">*</span></label>
            <div class="icon-before-input">
              <input type="text" class="form-control" name="name" [(ngModel)]="editProjectDoc.name"  placeholder="Escriba un nombre para el proyecto ..." required>
              <div class="icon">
                <i class="fa fa-fw fa-pencil"></i>
              </div>
            </div>
          </div>

          <hr class="b-s-dashed">

          <!-- <div class="form-group">
                    <label for="textarea1" class="col-sm-4 control-label">Descripción</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..." data-plugin="autosize"></textarea>
                    </div>
                  </div> -->
          <div class="form-group">
            <label for="itext">Descripción </label>
            <div class="">
              <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                name="description" [(ngModel)]="editProjectDoc.description" data-plugin="autosize" required></textarea>
              <!-- <div class="icon">
                          <i class="fa fa-fw fa-pencil"></i>
                        </div> -->
            </div>
          </div>

          <hr class="b-s-dashed">

          <div class="form-group">
            <label for="itext">Ubicación </label>
            <div class="icon-before-input">
              <agm-map [latitude]="editProjectDoc.ubication.lat" [longitude]="editProjectDoc.ubication.lng">
                <agm-marker 
                [latitude]="editProjectDoc.ubication.lat" 
                [longitude]="editProjectDoc.ubication.lng" 
                [markerDraggable]="true"
                (dragEnd)="EditmarkerDragEnd( $event)"
                ></agm-marker>
              </agm-map> 
            </div>
          </div>

          <hr class="b-s-dashed">

          <!-- <div class="row text-center">
            <div class="col-md-12">
              <label id="labelstart" for="">Inicio de Proyecto <span class="required">*</span></label>
              <div class="input-group col-centered">
                <div class="col-md-6">
                  <p><small>Fecha:</small></p>
                  <input type="date" id="startdate" name="editstartdate" [(ngModel)]="editProjectDoc.start.date" required>
                </div>
                <div class="col-md-6">
                  <p><small>Hora:</small></p>
                  <input type="time" id="starttime" name="editstarttime" [(ngModel)]="editProjectDoc.start.time" required>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-top:15px">
              <label id="labelend" for="">Fin de Proyecto <span class="required">*</span></label>
              <div class="input-group col-centered">
                <div class="col-md-6">
                  <p><small>Fecha:</small></p>
                  <input type="date" id="enddate" name="editenddate" [(ngModel)]="editProjectDoc.end.date" required>
                </div>
                <div class="col-md-6">
                  <p><small>Hora:</small></p>
                  <input type="time" id="endtime" name="editendtime" [(ngModel)]="editProjectDoc.end.time" required>
                </div>

              </div>
            </div>
          </div> -->


          <hr class="b-s-dashed">

          <div class="form-group">
              <label class="col-sm-12 control-label">Administrador<span class="required">*</span> </label>
              <div class="col-sm-12">
                <select class="form-control size-full" name="admin[]" multiple [(ngModel)]="editProjectDoc.administrators" >
                    <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
                </select>
              </div>
            </div>


          <!-- <div class="form-group">
            <label>Administrador</label>
            <div class="col-sm-10">
              <select class="form-control" name="administrador" [(ngModel)]="administrador">
                <option *ngFor="let user of userListArray" value="{{user.name}}">{{user.name}}</option>

              </select>
            </div>
          </div> -->

          <br>
          <hr class="b-s-dashed">




          <div class="col-md-12 text-center" style="margin-top:30px">
            <button type="submit" class="btn btn-success">Actualizar Proyecto</button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
