
<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Usuarios
      </h6>
      <h3 class="dashhead-title">Usuarios</h3>
    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Usuarios
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-md-8">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de usuarios</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" id="btncolapse" class="fa fa-plus-circle fa-2x deleteEvent" (click)="toogleUsers()"></i>
                </div>
              </header>
              <div class="list-group filter-wrap">
                <article class="list-group-item" *ngFor="let user of usersCollection; let i = index">
                    
                  <header class="filter-header">
                    <i class="icon-action fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"></i>
                      <i class="icon-action fa fa-edit" style="color:#6fb478"   (click)="editUser(user)"></i>
                      <i class="icon-action fa fa-times" style="color:#d64040"  ></i>
                      <i class="icon-action fa fa-eye" style="color:#6840d6" (click)="showAssigns(user)"></i>
                      <h6 class="title">{{user.name}} </h6>
             
                  </header>
                  <div class="filter-content collapse" id="{{'collapse' + i}}">
                   <b>Email:</b>  {{user.email}} <br>
                   
                   <div *ngIf="user.role.administrator; then admin else employee"></div>

                   <ng-template #admin><b>Rol:</b>  Administrador</ng-template>
                   <ng-template #employee><b>Rol:</b>  Empleado</ng-template>

                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <div class="col-md-4">
        <!-- BEGIN: flatpickr -->
        <div class="row">

          <div class="col-xs-12">
            <div class="box">
              <header class="bg-belize-hole text-white">
                <h4>Crear nuevo usuario</h4>
                <!-- begin box-tools -->
                <!-- <div class="box-tools">
                          <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                          <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                          <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                          <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                        </div> -->
                <!-- END: box-tools -->
              </header>
              <div class="box-body collapse in">

                <form #formEvent="ngForm" (submit)="onSubmitAddUser(formEvent)">
                  <div class="form-group">
                    <label id="labelname" for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input id="name" type="text" class="form-control" [(ngModel)]="userDoc.name" name="docname" 
                      placeholder="Escriba un nombre para el proyecto ..." required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <!-- <div class="form-group">
                            <label for="textarea1" class="col-sm-4 control-label">Descripción</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..." data-plugin="autosize"></textarea>
                            </div>
                          </div> -->
                          <div class="form-group">
                            <label id="labelemail" for="itext">Correo electrónico <span class="required">*</span></label>
                            <div class="icon-before-input">
                              <input id="email" type="text" class="form-control" [(ngModel)]="userDoc.email" name="email" 
                              placeholder="Escriba un nombre para el proyecto ..." required>
                              <div class="icon">
                                <i class="fa fa-fw fa-pencil"></i>
                              </div>
                            </div>
                          </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labelrole" for="itext">Rol <span class="required">*</span></label>
                    <select id="role" class="form-control" [(ngModel)]="selectRol" name="role" [(ngModel)]="this.role" required>
                      <option value="">Seleccione una opción</option>
                      <option value="employee">Empleado</option>
                      <option value="administrator">Administrador</option>
                    </select>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labelpass" for="itext">Contraseña <span class="required">*</span></label>
                      <p *ngIf="pass.invalid && pass.touched">
                          <small class="errortxt"><b> la contraseña debe tener al menos 6 caracteres</b></small>
                      </p> 
                        
                    <div class="icon-before-input">
                      <input id="pass" type="password" class="form-control" #pass="ngModel" [(ngModel)]="password" minlength="6" name="pass" placeholder="Escriba una contraseña" required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>


                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labelconfirm" for="itext">Confirmar contraseña <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input id="confirm" type="password" class="form-control" [(ngModel)]="password_confirmation" name="confirm" 
                      placeholder="Confirme la contraseña" required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success">Crear</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->


<!-- modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (submit)="onUpdateuser($event, formEdit)" #formEdit="ngForm">
              <div class="form-group">
                <label id="labelnameedit" for="itext">Nombre <span class="required">*</span></label>
                <div class="icon-before-input">
                  <input id="nameedit" type="text" class="form-control" [(ngModel)]="userDocEdit.name"  
                  name="nameedit" placeholder="Escriba un nombre para el proyecto ..." required>
                  <div class="icon">
                    <i class="fa fa-fw fa-pencil"></i>
                  </div>
                </div>
              </div>

              <hr class="b-s-dashed">

              <!-- <div class="form-group">
                        <label for="textarea1" class="col-sm-4 control-label">Descripción</label>
                        <div class="col-sm-8">
                          <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..." data-plugin="autosize"></textarea>
                        </div>
                      </div> -->
                      <div class="form-group">
                        <label for="itext">E-mail <span class="required">*</span></label>
                        <div class="icon-before-input">
                          <input readonly type="text" class="form-control" [(ngModel)]="userDocEdit.email" 
                          name="emailedit" placeholder="Escriba un nombre para el proyecto ..." required >
                          <div class="icon">
                            <i class="fa fa-fw fa-pencil"></i>
                          </div>
                        </div>
                      </div>

              <hr class="b-s-dashed">

              <div class="form-group">
                <label id="labelroledit" for="itext">Rol de empleado <span class="required">*</span></label>
                <select id="roledit" class="form-control" [(ngModel)]="roleEdit" name="roledit" required>
                    <option value="">Seleccione una opción</option>
                    <option value="employee">Empleado</option>
                    <option value="administrator">Administrador</option>
                  <!-- <option *ngFor='let element of roles' [selected]="element == roleEdit" [value]="element">{{element | titlecase}}</option> -->
                </select>
                <!-- <p></ `p> -->

              </div>

              <!-- <hr class="b-s-dashed"> -->

              <div class="col-md-12 text-center" style="margin-top:30px">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar cambios</button>
              </div>

            </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>