<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle" style="margin-top:10px">
        Inicio / Evidencia
      </h6>

      <!-- <h3 class="dashhead-title" #content>Evidencia</h3> -->

    </div>

    <!-- <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Evidencia
      </div>
    </div> -->
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-co
ntent bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">


      <div class="col-md-12">
        <div class="box">
          <h3 class="text-center" *ngIf="lockProjects">Todos los SubProyectos</h3>
          <h3 class="text-center" *ngIf="lockActivities && proySelect != ''">Actividades <span
              style="color:#b5180d">{{proySelect}}</span></h3>
          <h3 class="text-center" *ngIf="lockEvents && actSelect != ''">Eventos <span
              style="color:#b5180d">{{actSelect}}</span></h3>
          <h3 class="text-center" *ngIf="lockEvidence">Evidencia <span style="color:#b5180d">{{eventSelect}}</span></h3>
          <!-- <form action="">

            <form style="margin-top:10px; margin-left:15px">
              <div class="row">

                <div class="col-md-2">
                  <div class="form-group">
                    <select id="type" class="form-control" [(ngModel)]="idEvent" name="idevent"
                      (change)="UpdateEvidence()">
                      <option value="">Seleccione</option>

                      <option [value]="project.id" *ngFor="let project of projects">{{project.title}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">


                </div>


              </div>
            </form>



          </form> -->
        </div>
      </div>


      <div class="col-md-12">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <mat-icon class="pointer" *ngIf="lockActivities"
                  (click)="lockActivities = false; lockProjects = true; activitiesCollection = []; proySelect = '' ">
                  keyboard_backspace</mat-icon>


                <mat-icon class="pointer" *ngIf="lockEvents"
                  (click)="eventsCollection = []; actSelect = ''; lockEvents=false; lockActivities=true">
                  keyboard_backspace</mat-icon>


                <mat-icon class="pointer" *ngIf="lockEvidence"
                  (click)="evidenceCollection = []; eventSelect = '' ; lockEvidence = false; lockEvents=true">
                  keyboard_backspace</mat-icon>

                <nav aria-label="breadcrumb" *ngIf="proySelect != ''">
                  <ol class="breadcrumb" style="margin-bottom: 0px;">
                    <li class="breadcrumb-item" *ngIf="proySelect != ''"><a style="color:#333">{{proySelect}}</a></li>
                    <li class="breadcrumb-item" *ngIf="actSelect != ''"><a style="color:#333">{{actSelect}}</a></li>
                    <li class="breadcrumb-item" *ngIf="lockEvidence"><a style="color:#333">{{eventSelect}}</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
                  </ol>
                </nav>
                <!-- <h3>Resultados de la búsqueda</h3> -->

              </header>
              <mat-divider *ngIf="!lockProjects"></mat-divider>




              <mat-spinner *ngIf="loading"></mat-spinner>

              <div class="box">

                <div class="box-tools" *ngIf="lockEvidence" style="margin-right:10px">
                  <i style="color:rgb(129, 120, 120); " id="btncolapse" class="pointer fa fa-plus-circle fa-2x"
                    (click)="openAll()"></i>
                  <i style="color:rgb(129, 120, 120); margin-left:11px" class="pointer fa fa-minus-circle fa-2x"
                    (click)="closeAll()"></i>
                </div>
              </div>
              <div [ngStyle]="{'display':lockProjects ? 'block' : 'none' }" style="height:800px; overflow-y: scroll;">

                <mat-list>
                  <mat-list-item *ngFor="let project of projects; index as i" (click)="selectProject(project)">
                    <mat-icon mat-list-icon>category</mat-icon>
                    <h4 mat-line>{{project.title}}</h4>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <p mat-line>{{project.advanced}}% completado</p>

                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>

              </div>

              <div *ngIf="lockActivities" style="height:800px; overflow-y: scroll;">
                <mat-list>
                  <mat-list-item *ngFor="let activity of activitiesCollection; index as i"
                    (click)="selectActivity(activity)">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{activity.title}}</h4>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <p mat-line>{{activity.advanced}}% completado</p>

                    <mat-divider></mat-divider>

                  </mat-list-item>
                </mat-list>
              </div>

              <div *ngIf="lockEvents" style="height:800px; overflow-y: scroll;">
                <mat-list>
                  <mat-list-item *ngFor="let event of eventsCollection; index as i" (click)="selectEvent(event)">
                    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                    <h4 mat-line>{{event.title}}</h4>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <p mat-line>{{event.advanced}}% completado</p>

                    <mat-divider></mat-divider>

                  </mat-list-item>
                </mat-list>
              </div>




              <mat-accordion *ngIf="lockEvidence" class="example-headers-align" #myaccordion="matAccordion"
                multi="true">

                <mat-expansion-panel [ngClass]="{'read': !evidence.read}" [expanded]="indexExpanded == i"
                  *ngFor="let evidence of evidenceCollection; index as i" (click)="readEvidence(evidence, i)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-checkbox (click)="$event.stopPropagation();" color="primary"></mat-checkbox>&nbsp;
                      {{evidence.ref_event.name.substring(0,75)}}
                    </mat-panel-title>
                    <mat-panel-description>

                      <span *ngIf="evidence.total">
                        {{evidence.advanced}} / {{evidence.total.number}}&nbsp;{{evidence.total.unit}}
                      </span>


                      <span>Etapa: {{getEtapa(evidence.header)}}</span>
                      <span>Asignado a: {{evidence.user.name}}</span>
                      <!-- <span>{{evidence.created_at | date:'dd/MM/y'}} {{evidence.created_at}}</span> -->

                      <mat-icon style="color:#f44336" class="delete"
                        (click)="$event.stopPropagation(); export(evidence, $event)">picture_as_pdf</mat-icon>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="col-md-12">
                        <h4>Descripción</h4>
                        <p style="padding:20px">{{evidence.description}}</p>
                      </div>
                      <div class="col-md-12">
                        <h4>Imágenes</h4>
                        <div>
                          <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6"
                              *ngFor="let item of evidence.multimedia; index as a">
                              <img class="galery" id="img{{i}}{{a}}" src="{{item.src}}" style="border: #ccc 1px solid"
                                (click)="showImage(evidence, a)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" style="border:#ddd 1px solid; padding: 10px">
                      <h4>Documentos</h4>
                      <div *ngIf="evidence.files.length; else no_files">
                        <div *ngFor="let item of evidence.files">
                          <a target="_blank" [href]="item.src" [download]="item.name"><i [ngClass]="getClass(item.type)"
                              [style.color]="getColor(item.type)"></i>
                            {{item.name}} </a>
                        </div>
                        <br>
                      </div>
                      <ng-template #no_files>
                        <p><i>Ningún archivo adjunto</i></p>
                      </ng-template>
                    </div>
                  </div>
                </mat-expansion-panel>

                <h4 style="margin:30px" class="text-center" *ngIf="!evidenceCollection.length && loading == false">Aún
                  no se ha subido
                  evidencia a este evento <mat-icon>mood_bad</mat-icon>
                </h4>

              </mat-accordion>




            </div>
          </div>
        </div>
        <!-- END: clave.js -->
      </div>

      <!-- <div class="col-md-4">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <header class="bg-asbestos text-white">
                  <h4>Crear nuevo evento</h4>
                </header>
                <div class="box-body collapse in">
                 
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->


<!-- Modal para ver imagenes -->
<div class="modal fade" id="showimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="center" [src]="image.src" alt="">
        <hr>
        Ubicación: <br>


        <agm-map [zoom]="17" [latitude]="image.ubication.lat" [longitude]="image.ubication.lng">
          <agm-marker [latitude]="image.ubication.lat" [longitude]="image.ubication.lng" [markerDraggable]="false">
          </agm-marker>
        </agm-map>

        <!-- latitud:{{image.ubication.lat}} <br>
        longitud: {{image.ubication.lng}} -->
      </div>

    </div>
  </div>
</div>


<div class="hidden" id="content" #content>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa sit, sunt quasi aspernatur assumenda magnam ex
    ipsum odit laboriosam, laborum id tempora perspiciatis veritatis illo dignissimos ab natus placeat?</p>

  <img id src="" alt="">

</div>