<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Evidencia
      </h6>
      <h3 class="dashhead-title">Evidencia</h3>

    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Evidencia
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Evidencia de eventos</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" id="btncolapse" class="fa fa-plus-circle fa-2x deleteEvent"
                    (click)="toogleEvents()"></i>
                  <!-- <i style="color:rgb(129, 120, 120); margin-left:11px" class="fa fa-minus-circle fa-2x"></i> -->
                </div>
              </header>
              <div class="list-group filter-wrap">

                <article class="list-group-item" *ngFor="let evidence of evidenceCollection">

                  <header class="filter-header">



                    <!-- <i class="icon-action fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"></i>
                      <i class="icon-action fa fa-edit" style="color:#6fb478" (click)="editEvent(event)"></i>
                      <i class="icon-action fa fa-times" style="color:#d64040" (click)="deleteEvent(event)"></i>
                      <i class="icon-action fa fa-eye" style="color: black" (click)="seeEvent(event)" *ngIf="event.active === false"></i> -->
                    <h4 class="title">{{evidence.id}}</h4>

                  </header>
                  <div>

                    <div class="row">

                      <div class="col-md-9">

                        <div class="col-md-12">
                          <h4>Texto</h4>
                          <p style="padding:20px">{{evidence.description}}</p>
                        </div>


                        <div class="col-md-12">
                          <h4>Imágenes</h4>
                          <div class="gallerize-example">
                            <div class="row">
                              <div class="col-md-2 col-sm-4 col-xs-6" *ngFor="let item of evidence.multimedia; index as i">
                                <img class="galery" [lightbox]="i" [src]="item.src">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-3" style="border:#ddd 1px solid; padding: 10px">
                        <h4>Documentos</h4>
                        <i class="fa fa-file-pdf fa-2x" style="margin-top:10px; color:#f43636"></i> archivo_pdf.pdf
                        <br>
                        <i class="fa fa-file-word fa-2x" style="margin-top:10px; color:#3672f4"></i> archivo_word.docx
                      </div>

                    </div>
                  </div>
                </article>

                

              </div>
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <!-- <div class="col-md-4">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <header class="bg-asbestos text-white">
                  <h4>Crear nuevo evento</h4>
                </header>
                <div class="box-body collapse in">
                 
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->
