<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Actividades
      </h6>
      <h3 class="dashhead-title">Actividades</h3>
    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Actividades
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">

        <div class="col-md-12">
            <div class="box">
              <!-- <h2 class="text-center">hola</h2> -->
              <form action="">
    
                <form style="margin-top:10px; margin-left:15px">
                  <div class="row">
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label id="labeltype">Proyecto<span class="required">*</span></label>
                            <select id="type" class="form-control" [(ngModel)]="activityDoc.project_id" name="type" required (change)="changeProject($event)" >
                              <option value="">Seleccione un proyecto</option>
                        <option *ngFor="let project of projects" value="{{project.id}}">{{project.title}}</option>                              
                            </select>
                          </div>
                    </div>    
                  </div>
                </form>
              </form>
            </div>
          </div>

      <div class="col-md-8">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de actividades</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" id="btncolapse" class="fa fa-plus-circle fa-2x deleteEvent"
                    (click)="toogleActivities()"></i>
                </div>
              </header>
              <div class="list-group filter-wrap">

                <article class="list-group-item" *ngFor="let activity of activities; let i = index">

                  <header class="filter-header">


                    <i class="icon-action fa fa-chevron-down" data-toggle="collapse"
                      [attr.data-target]="'#collapse'+ i"></i>
                    <i class="icon-action fa fa-plus" style="color:#566dd6" (click)="copyActivity(activity)"></i>
                    <i class="icon-action fa fa-edit" style="color:#6fb478" (click)="editActivity(activity)"></i>
                    <!-- <i class="icon-action fa fa-times" style="color:#d64040" (click)="onDeleteActivity(activity)"></i> -->
                    <h6 class="title">{{activity.title}} </h6>

                  </header>
                  <div class="filter-content collapse" id="{{'collapse' + i}}">
                    <div class="row">
                      <div class="col-md-6">
                        <b>Nombre:</b> {{activity.title}} <br>
                        <!-- <b>Tipo:</b> {{activity.type}} <br> -->
                        <b>proyecto:</b>  <span *ngFor="let elem of projects" ><span *ngIf="elem.id == activity.project_id"> {{elem.title}}</span></span> <br>
                        <b>Descripción:</b> {{activity.description}} <br>
                        <b>Inicio:</b> {{activity.start | date:'short'}}<br>
                        <b>Final:</b> {{activity.end | date:'short'}}
                      </div>
                      <div class="col-md-6">
                        <!-- <b>Insumos necesarios:</b><br>
                        <ul>
                          <li *ngFor="let item of activity.tools">{{item}}</li>

                        </ul>
                        <b>Usuarios:</b><br>
                        <ul>
                          <li *ngFor="let person of activity.users">{{person}}</li>

                        </ul> -->

                      </div>
                    </div>

                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <div class="col-md-4">
        <!-- BEGIN: flatpickr -->
        <div class="row">

          <div class="col-xs-12">
            <div class="box">
              <header class="bg-green-sea text-white">
                <h4>Crear nueva actividad</h4>
                <!-- begin box-tools -->
                <!-- <div class="box-tools">
                              <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                              <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                              <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                              <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                            </div> -->
                <!-- END: box-tools -->
              </header>
              <div class="box-body collapse in">

                <form #formActivity="ngForm" (submit)="addActivity(formActivity)">
                  <div class="form-group">
                    <label id="labelname" for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="activityDoc.title"
                        placeholder="Escriba un nombre para el evento ..." required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label for="itext">Descripción </label>
                    <div class="">
                      <textarea class="form-control" rows="3" id="textarea1"
                        placeholder="Escriba un descripción para el proyecto ..." name="description"
                        [(ngModel)]="activityDoc.description" data-plugin="autosize"></textarea>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <!-- <label id="labeltype" class="">Tipo de Actividad <span class="required">*</span></label>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <select class="form-control" id="type" name="type" [(ngModel)]="activityDoc.type" required>
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let item of types" [ngValue]="item">{{item}}</option>
                      </select>
                    </div>
                  </div>
                  <br>

                  <hr class="b-s-dashed"> -->


                  <label id="labelproject" class="">Proyecto<span class="required">*</span></label>
                  <div class="form-group">
                      <select class="form-control" id="project" name="project" [(ngModel)]="activityDoc.project_id"
                      (change)="changeProject($event)">
                        <option value="">Seleccione una proyecto</option>
                        <option *ngFor="let project of projects" value="{{project.id}}">{{project.title}}</option>
                      </select>
                  </div>
                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labelstart">Fecha de inicio <span class="required">*</span></label>
                    <div class="panel-body">
                      <input class="form-control" minDate="today" type="text" mwlFlatpickr
                        [(ngModel)]="activityDoc.start" [altInput]="true" id="start" name="start"
                        [convertModelValue]="false" placeholder="dd/mm/yyyy" [enableTime]="true" dateFormat="Y-m-dTH:i"
                        required>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labelend">Fecha de término <span class="required">*</span></label>
                    <div class="panel-body">
                      <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="activityDoc.end"
                        [altInput]="true" id="end" name="end" placeholder="dd/mm/yyyy" [convertModelValue]="false"
                        [enableTime]="true" dateFormat="Y-m-dTH:i" required>
                    </div>
                  </div>

                  <!-- <div class="row text-center">
                    <div class="col-md-12">
                      <label id="labelstart" for="">Inicio de Actividad <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="startdate" name="startdate" [(ngModel)]="activityDoc.start.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="starttime" name="starttime" [(ngModel)]="activityDoc.start.time" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px">
                      <label id="labelend" for="">Fin de Actividad <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="enddate" name="enddate" [(ngModel)]="activityDoc.end.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="endtime" name="endtime" [(ngModel)]="activityDoc.end.time" required>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labeladmin" class="col-sm-12 control-label">Administrador(es)<span
                        class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                      <select id="admin" class="form-control size-full" name="admin[]" multiple
                        [(ngModel)]="activityDoc.administrators" required>
                        <option *ngFor="let user of persons" value="{{user.id}}">{{user.name}}</option>
                      </select>
                    </div>
                  </div>

  
                  <hr class="b-s-dashed">



                  <!-- <ngb-datepicker (select)="onDateSelect($event)"></ngb-datepicker> -->

                  <!-- Inicio de INSUMOS -->
                  <!-- <label for="atext3">Insumos</label>
                  <form #formInsumo="ngForm" (submit)="pushInsumo(formInsumo)">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <p>Cantidad</p>
                          <input id="insumoquant" type="number" min="1" size="2px" name="insumoquant"
                            [(ngModel)]="insumo.quantity" class="form-control" placeholder="cantidad" required>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <p>Nombre</p>
                          <div class="icon-after-input">
                            <input type="text" class="form-control input-sm p-r-80" name="insumoname"
                              placeholder="nombre..." [(ngModel)]="insumo.name" required>
                            <div class="icon">
                              <button class="btn btn-info btn-sm btn-rect" type="submit"><i
                                  class="fa fa-plus fa-lg"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let tool of activityDoc.insumos; let i = index">
                      {{tool.quantity}}
                      {{tool.name}} <i style="color:red" class="fa fa-close pull-right fa-lg deleteEvent"
                        (click)="deleteInsumo(i)"></i>&nbsp;</li>
                  </ul> -->

                  <!-- <div style="margin-top:135px">
                    <form (submit)="pushTool()">
                      <div class="form-group">
                        <label for="atext3">Insumos necesarios</label>
                        <div class="icon-after-input">
                          <input type="text" class="form-control input-sm p-r-80" id="atext3" name="tool" placeholder="escriba..."
                            [(ngModel)]="tool">
                          <div class="icon">
                            <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div> -->




                  <!-- <ul class="list-group list-group-flush">

                    <li class="list-group-item" *ngFor="let tool of activityDoc.insumos; let i = index">{{tool}} <i
                        style="color:red" class="fa fa-close pull-right fa-lg deleteEvent"
                        (click)="deleteTool(i)"></i>&nbsp;</li>
                  </ul> -->

                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success">Crear Actividad</button>

                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->


<!-- modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="updateActivity()">
          <div class="form-group">
            <label for="itext">Nombre de la Actividad <span class="required">*</span></label>
            <div class="icon-before-input">
              <input type="text" class="form-control" name="name" [(ngModel)]="activityEdit.title"
                placeholder="Escriba un nombre para el evento ...">
              <div class="icon">
                <i class="fa fa-fw fa-pencil"></i>
              </div>
            </div>
          </div>
          <hr class="b-s-dashed">


          <div class="form-group">
            <label class="">Proyecto al que pertenece <span class="required">*</span></label>
            <select class="form-control" [(ngModel)]="activityEdit.project_id" name="project_ide">
              <option *ngFor='let project of projects' [selected]="project.id == activityEdit.project_id"
                [value]="project.id">{{project.title
                | titlecase}}</option>
            </select>
            <!-- <p></ `p> -->
          </div>

          <hr class="b-s-dashed">
          <div class="form-group">
            <label for="itext">Descripción </label>
            <div class="">
              <textarea class="form-control" rows="3" id="textarea1"
                placeholder="Escriba un descripción para el proyecto ..." name="description"
                [(ngModel)]="activityEdit.description" data-plugin="autosize"></textarea>
           
            </div>
          </div>

          <hr class="b-s-dashed">

          <div class="row text-center">
            <div class="col-md-6">
              <label id="labelstart" for="">Fecha de inicio <span class="required">*</span></label>
              <div class="input-group col-centered">
                <input type="datetime-local" id="startdate" name="editstartdate" [(ngModel)]="activityEdit.start" required>
              </div>
            </div>
            <div class="col-md-6">
              <label id="labelstart" for="">Fecha de término <span class="required">*</span></label>
              <div class="input-group col-centered">
                <input type="datetime-local" id="dateend" name="dateend" [(ngModel)]="activityEdit.end" required>
              </div>
            </div>
            
          </div>

          <hr class="b-s-dashed">

          <div class="form-group">
            <label class="col-sm-12 control-label">Administradores<span class="required">*</span> </label>
            <div class="col-sm-12">
              <select class="form-control size-full" name="admin[]" multiple [(ngModel)]="activityEdit.administrators">
                <option *ngFor="let user of persons" value="{{user.id}}">{{user.name}}</option>
              </select>
            </div>
          </div>


          <hr class="b-s-dashed">

          <!-- <ngb-datepicker (select)="onDateSelect($event)"></ngb-datepicker> -->

          <!-- <form (submit)="pushToolEdit()">
            <div class="form-group">
              <label for="atext3">Insumos necesarios</label>
              <div class="icon-after-input">
                <input type="text" class="form-control input-sm p-r-80" id="atext3" name="tool" placeholder="escriba..."
                  [(ngModel)]="toolEdit">
                <div class="icon">
                  <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                </div>
              </div>
            </div>
          </form> -->

          <ul class="list-group list-group-flush">

            <li class="list-group-item" *ngFor="let toolEdit of activityEdit.insumos; let i = index">{{toolEdit}} <i
                style="color:red" class="fa fa-close pull-right fa-lg deleteEvent"
                (click)="deleteToolEdit(i)"></i>&nbsp;</li>
          </ul>

          <div class="col-md-12 text-center" style="margin-top:30px">
            <button type="submit" class="btn btn-success">Actualizar Evento</button>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>