.app {
    background-image: url("../../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .error{
    color:rgb(161, 43, 43);
    border: 1px solid #f00 !important;
  }