<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Eventos
      </h6>
      <h3 class="dashhead-title">Eventos</h3>

    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Eventos
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">

    


    <div class="row">


        <div class="col-md-12">
            <div class="box">
              <!-- <h2 class="text-center">hola</h2> -->
              <form action="">
    
                <form style="margin-top:10px; margin-left:15px">
                  <div class="row">
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label id="labeltype">Proyecto<span class="required">*</span></label>
                            <select id="type" class="form-control" name="type" required (change)="changeProject($event)">
                              <option value="">Seleccione un proyecto</option>
                              <option *ngFor='let project of projectsCollection' [value]="project.id">{{project.title}}</option>
                            </select>
                          </div>
                    </div>
    
                    <div class="col-md-3">
                      <div class="form-group">
                        <label id="labeltype">Subroyecto<span class="required">*</span></label>
                        <select id="type" class="form-control" name="type" required (change)="changeActivity($event)">
                          <option value="">Seleccione</option>
                          <option *ngFor="let subproject of subprojects" value="{{subproject}}">{{subproject}}</option>
                          <!-- <option *ngFor='let item of types' [ngValue]="item">{{item}}</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label id="labeltype">Actividad<span class="required">*</span></label>
                        <select id="type" class="form-control" name="type" required (change)="loadingEvents($event)">
                          <option value="">Seleccione</option>
                        
                          <option *ngFor='let activity of acts' [value]="activity.id">{{activity.title}}</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="col-md-2" style="text-align:right">
                      <div class="radio">
                        <label class="">
                          <input class="hidden" type="radio" name="optionsRadios">
                          <i class="fa fa-2x text-info"></i>
                          <span class="vertical-super">Actividades</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2" style="text-align:left">
                      <div class="radio">
                        <label class="">
                          <input class="hidden" type="radio" checked name="optionsRadios">
                          <i class="fa fa-2x text-info"></i>
                          <span class="vertical-super">Eventos</span>
                        </label>
                      </div>
                    </div> -->
    
                  </div>
                </form>
    
    
    
              </form>
            </div>
          </div>

      <div class="col-md-8">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de eventos</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" id="btncolapse" class="fa fa-plus-circle fa-2x pointer"
                    (click)="openAll()"></i>
                  <i style="color:rgb(129, 120, 120); margin-left:11px" class="fa fa-minus-circle fa-2x pointer" (click)="closeAll()"></i>
                </div>
              </header>
              <div style="height:1300px; overflow-y: scroll;" >
              <!-- <div appScrollable style="height:1300px; overflow-y: scroll;" (scrollPosition)="scrollHandler($event)" > -->
              <mat-accordion  class="example-headers-align" #myaccordion="matAccordion" multi="true">

                <mat-expansion-panel *ngFor="let event of eventsCollection; index as i">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4>{{(event.title.substring(0,25))}} </h4>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{(100*event.advanced)/event.total.number}}%
                      <mat-icon class="delete" (click)="$event.stopPropagation(); deleteEvent(event)"> delete</mat-icon>
                      <!-- <mat-icon> create</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="row">
                      <div class="col-md-6">
                        <b>Descripción:</b> {{event.title}} <br>
                        <b>Tipo de actividad:</b> {{event.actividad}} <br>
                        <b>Inicio:</b> {{event.start | date:'medium'}} <br>
                        <b>Final:</b> {{event.end | date:'medium'}}<br>
                        <b>Actividad:</b> <span *ngFor='let activity of acts'>
                            <span *ngIf="activity.id == event.activity_id"> {{activity.title}}</span>
                          </span> <br>
                        <b>Usuario que lo realizará:</b> <span *ngIf="event.user_id == 'undefined'">Sin especificar</span> <span *ngIf="event.user_id != 'undefined'">
                          <span *ngFor='let user of usersCollection'>
                            <span *ngIf="user.id == event.user_id"> {{user.name}}</span>
                          </span>
                         
                        </span>
                      </div>
                      <div class="col-md-6">
                        <div >
                          <b>Herramientas: </b><br>
                          <ul>
                            <span *ngIf="event.tools.length > 0; else notools">
                              <li *ngFor="let item of event.tools">{{item.quantity}}&nbsp;{{item.name}}</li>
                            </span>
                            <ng-template #notools><i>Sin herramientas registradas</i></ng-template>
                            
                          </ul>
                          <hr>
                        </div>
                        

                          <b>Personal:</b><br>
                          <ul>
                            <span *ngIf="event.staff.length > 0; else nostaff">
                              <li *ngFor="let person of event.staff">{{person.quantity}}&nbsp;{{person.name}}</li>
                            </span>

                            <ng-template #nostaff><i>Sin personal registrado</i></ng-template>
                            
                          </ul>

                       
                      </div>
                    </div>
                
                  <mat-action-row>
                      <button class="btn_edit" mat-button (click)="editEvent(event)">Editar<mat-icon style="color:rgb(209, 212, 220)">create</mat-icon></button>
                    </mat-action-row>
                </mat-expansion-panel>
                
                <div *ngIf="loading" class="alert alert-warning d-block text-center position-absolute">Cargando datos...</div>

                <div *ngIf="empty" class="alert alert-primary d-block text-center">Ya no hay más datos!</div>

              </mat-accordion>
            </div>

              <!-- <div class="list-group filter-wrap">
                <article class="list-group-item" *ngFor="let event of eventsCollection; let i = index" [ngStyle]="{'background':event.active === false ? 'rgb(237, 255, 237)' : 'inherit' }">
                  <header class="filter-header">
                    <i class="icon-action fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"></i>
                    <i class="icon-action fa fa-edit" style="color:#6fb478" (click)="editEvent(event)"></i>
                    <i class="icon-action fa fa-times" style="color:#d64040" (click)="deleteEvent(event)"></i>
                    <i class="icon-action fa fa-eye" style="color: black" (click)="seeEvent(event)" *ngIf="event.active === false"></i>
                    <h6 class="title">nombre evento {{i + 1}}</h6>
                  </header>
                  <div class="filter-content collapse" id="{{'collapse' + i}}">
                    <div class="row">
                      <div class="col-md-6">
                        <b>Descripción:</b> {{event.description}} <br>
                        <b>Tipo de actividad:</b> {{event.actividad}} <br>
                        <b>Inicio:</b> {{event.start}} <br>
                        <b>Final:</b> {{event.end}}<br>
                        <b>Actividad:</b> {{event.activity_id }} <br>
                        <b>Usuario que lo realizará:</b> {{event.user_id}}
                      </div>
                      <div class="col-md-6">
                        <div *ngIf="event.tools.length > 0">
                          <b>Herramientas: </b><br>
                          <ul>
                            <li *ngFor="let item of event.tools">{{item.quantity}}&nbsp;{{item.name}}</li>
                          </ul>
                          <hr>
                        </div>
                        <b>Personal:</b><br>
                        <ul>
                          <li *ngFor="let person of event.staff">{{person.quantity}}&nbsp;{{person.name}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div> -->
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <div class="col-md-4">
        <!-- BEGIN: flatpickr -->
        <div class="row">

          <div class="col-xs-12">
            <div class="box">
              <header class="bg-asbestos text-white">
                <h4>Crear nuevo evento</h4>
              </header>
              <div class="box-body collapse in">

                <form #formEvent="ngForm" (submit)="addEvent(formEvent)">
                  <div class="form-group">
                    <label id="labelname" for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="eventDoc.title"
                        placeholder="Escriba un nombre para el evento ..." required>
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label for="itext">Descripción </label>
                    <div class="">
                      <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                        name="description" [(ngModel)]="eventDoc.description" data-plugin="autosize"></textarea>
                    </div>
                  </div>


                  <hr class="b-s-dashed">

                  <label id="total">Total a realizar <span class="required">*</span></label>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <p>Cantidad</p>
                        <input id="number" type="number" min="1" size="2px" name="number" [(ngModel)]="eventDoc.total.number"
                          class="form-control" placeholder="unidad" required>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <p>Unidad</p>
                        <div >
                          <input id="unit" type="text" class="form-control input-sm p-r-80" name="unit" placeholder="nombre..."
                            [(ngModel)]="eventDoc.total.unit" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="labeltype">Tipo <span class="required">*</span></label>
                    <select id="type" class="form-control" [(ngModel)]="eventDoc.type" name="type" required>
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let item of types' [ngValue]="item">{{item}}</option>
                    </select>
                  </div>

                  <hr class="b-s-dashed">

                  <!-- <div class="row text-center">
                    <div class="col-md-12">
                      <label for="">Inicio <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <input type="datetime-local" name="start" [(ngModel)]="eventDoc.start">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="">Final <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <input type="datetime-local" name="end" [(ngModel)]="eventDoc.end"> -->

                  <div class="form-group">
                    <label id="start">Fecha de inicio <span class="required">*</span></label>
                    <div class="panel-body">
                      <input id="startinput" class="form-control" minDate="today" type="text" mwlFlatpickr [(ngModel)]="eventDoc.start"
                        [altInput]="true" name="start" [convertModelValue]="false" placeholder="dd/mm/yyyy"
                        [enableTime]="true" dateFormat="Y-m-dTH:i" required>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label id="end">Fecha de término <span class="required">*</span></label>
                    <div class="panel-body">
                      <input id="endinput" class="form-control" type="text" minDate="today" mwlFlatpickr [(ngModel)]="eventDoc.end"
                        [altInput]="true" name="end" placeholder="dd/mm/yyyy" [convertModelValue]="false" [enableTime]="true"
                        dateFormat="Y-m-dTH:i" required>
                    </div>
                  </div>

                  <!-- <div class="row text-center">
                    <div class="col-md-12">
                      <label id="labelstart" for="">Fecha de inicio <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="startdate" name="startdate" [(ngModel)]="eventDoc.start.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="starttime" name="starttime" [(ngModel)]="eventDoc.start.time" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px">
                      <label id="labelend" for="">Fecha de término <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <div class="col-md-6">
                          <p><small>Fecha:</small></p>
                          <input type="date" id="enddate" name="enddate" [(ngModel)]="eventDoc.end.date" required>
                        </div>
                        <div class="col-md-6">
                          <p><small>Hora:</small></p>
                          <input type="time" id="endtime" name="endtime" [(ngModel)]="eventDoc.end.time" required>
                        </div>
                      </div>
                    </div>

                  </div> -->




                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label id="labeluser" class="">Usuario que realizara evento <span class="required">*</span></label>
                    <select class="form-control" id="user" [(ngModel)]="eventDoc.user_id" name="user" required>
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let user of usersCollection' [selected]="user.id == eventDoc.user_id" [value]="user.id">{{user.name}}</option>
                    </select>
                  </div>
                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label id="labelactivity">Actividad a la que pertenece <span class="required">*</span></label>
                    <select class="form-control" id="activity" [(ngModel)]="eventDoc.activity_id" name="activity"
                      required >
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let activity of acts' [selected]="activity.id == eventDoc.activity_id"
                        [value]="activity.id">{{activity.title }}</option>
                    </select>
                  </div>

                  <hr class="b-s-dashed">

          
      

                  <!-- Inicio de Herramientas -->
                  <label for="atext3">Herramientas</label>
                  <form #formTool="ngForm" (submit)="pushTool(formTool)">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <p>Cantidad</p>
                          <input id="toolquant" type="number" min="1" size="2px" name="toolquant" [(ngModel)]="tool.quantity"
                            class="form-control" placeholder="cantidad" required>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <p>Nombre</p>
                          <div class="icon-after-input">
                            <input type="text" class="form-control input-sm p-r-80" name="toolname" placeholder="nombre..."
                              [(ngModel)]="tool.name" required>
                            <div class="icon">
                              <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let tool of eventDoc.tools; let i = index">{{tool.quantity}}
                      {{tool.name}} <i style="color:red" class="fa fa-close pull-right fa-lg deleteEvent" (click)="deleteTool(i)"></i>&nbsp;</li>
                  </ul>
                  <!-- Fin de Herramientas -->
                  <hr class="b-s-dashed">
                  <!-- Inicio de Personal -->
                  <label for="atext3">Personal</label>
                  <form #formPersonal="ngForm" (submit)="pushPersonal(formPersonal)">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <p>Cantidad</p>
                          <input id="personquant" type="number" min="1" size="2px" name="personquant" [(ngModel)]="person.quantity"
                            class="form-control" placeholder="cantidad" required>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <p>Nombre</p>
                          <div class="icon-after-input">
                            <input type="text" class="form-control input-sm p-r-80" name="personname" placeholder="nombre..."
                              [(ngModel)]="person.name" required>
                            <div class="icon">
                              <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let person of eventDoc.staff; let i = index">{{person.quantity}}
                      {{person.name}} <i style="color:red" class="fa fa-close pull-right fa-lg deleteEvent" (click)="deletePersonal(i)"></i>&nbsp;</li>
                  </ul>
                  <!-- Fin de Personal -->
                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success btn-block">Crear Evento</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->



<!-- modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Actualizar evento</h3>
      </div>
      <div class="modal-body">

        <form (submit)="updateEvent(formEdit)" #formEdit="ngForm">
          <div class="form-group">
            <label for="itext">Nombre <span class="required">*</span></label>
            <div class="icon-before-input">
              <input type="text" class="form-control" name="name" [(ngModel)]="eventDocEdit.title" placeholder="Escriba un nombre para el evento ...">
              <div class="icon">
                <i class="fa fa-fw fa-pencil"></i>
              </div>
            </div>
          </div>

          <hr class="b-s-dashed">

          <div class="form-group">
            <label for="itext">Descripción </label>
            <div class="">
              <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                name="description" [(ngModel)]="eventDocEdit.description" data-plugin="autosize"></textarea>
            </div>
          </div>
          <hr class="b-s-dashed">

          <div class="row text-center">
            <div class="col-md-6">
              <label id="labelstart" for="">Fecha de inicio <span class="required">*</span></label>
              <div class="input-group col-centered">
                <input type="datetime-local" id="startdate" name="editstartdate" [(ngModel)]="eventDocEdit.start" required>
              </div>
            </div>
            <div class="col-md-6">
              <label id="labelstart" for="">Fecha de término <span class="required">*</span></label>
              <div class="input-group col-centered">
                <input type="datetime-local" id="dateend" name="dateend" [(ngModel)]="eventDocEdit.end" required>
              </div>
            </div>
            
          </div>


          <hr class="b-s-dashed">
          <div class="form-group">
            <label class="">Usuario que realizará evento <span class="required">*</span></label>
            <select class="form-control" [(ngModel)]="eventDocEdit.user_id" name="user">
              <option value="">Seleccione una opción </option>
              <option *ngFor='let user of usersCollection' [selected]="user.id == eventDocEdit.user_id" [value]="user.id">{{user.name
                }}</option>
            </select>
          </div>

          <hr class="b-s-dashed">

      
         
          <!-- <label id="total">Actividad a la que pertenece <span class="required">*</span></label>
          <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <p>Proyecto</p>
                  <select class="form-control" name="activity">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                        [value]="activity.id">{{activity.title }}</option>
                    </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <p>Subproyecto</p>
                  <select class="form-control" name="activity">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                        [value]="activity.id">{{activity.title }}</option>
                    </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <p>Actividad</p>
                  <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                        [value]="activity.id">{{activity.title }}</option>
                    </select>
                </div>
              </div>
            </div> -->

            <!-- <label>Actividad : <span class="required">*</span></label>
            <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
              <option value="">Seleccione una opción </option>
              <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                [value]="activity.id">{{activity.title }}</option>
            </select> -->


          <!-- <div class="form-group">
            <label>Actividad a la que pertenece <span class="required">*</span></label>
            <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
              <option value="">Seleccione una opción </option>
              <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                [value]="activity.id">{{activity.title }}</option>
            </select>

            <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
              <option value="">Seleccione una opción </option>
              <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                [value]="activity.id">{{activity.title }}</option>
            </select>
            
            <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
              <option value="">Seleccione una opción </option>
              <option *ngFor='let activity of acts' [selected]="activity.id == eventDocEdit.activity_id"
                [value]="activity.id">{{activity.title }}</option>
            </select>
          </div> -->
          <hr class="b-s-dashed">


          <!-- Inicio de Herramientas -->
          <label for="atext3">Herramientas</label>
          <form #formEditTool="ngForm" (submit)="pushToolEdit(formEditTool)">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <p>Cantidad</p>
                  <input type="number" id="toolquantedit" min="1" size="2px" name="toolquant" [(ngModel)]="toolEdit.quantity"
                    class="form-control" placeholder="cantidad" required>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <p>Nombre</p>
                  <div class="icon-after-input">
                    <input type="text" class="form-control input-sm p-r-80" name="toolname" placeholder="nombre..."
                      [(ngModel)]="toolEdit.name" required>
                    <div class="icon">
                      <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let tool of eventDocEdit.tools; let i = index">{{tool.quantity}}
              {{tool.name}} <i style="color:red" class="fa fa-close pull-right fa-lg deleteEvent" (click)="deleteToolEdit(i)"></i>&nbsp;</li>
          </ul>
          <!-- Fin de Herramientas -->
          <hr class="b-s-dashed">
          <!-- Inicio de Personal -->
          <label for="atext3">Personal</label>
          <form #formPersonalEdit="ngForm" (submit)="pushPersonalEdit(formPersonalEdit)">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <p>Cantidad</p>
                  <input type="number" id="personquantedit" min="1" size="2px" name="personquant" [(ngModel)]="personEdit.quantity"
                    class="form-control" placeholder="cantidad" required>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <p>Nombre</p>
                  <div class="icon-after-input">
                    <input type="text" class="form-control input-sm p-r-80" name="personname" placeholder="nombre..."
                      [(ngModel)]="personEdit.name" required>
                    <div class="icon">
                      <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let person of eventDocEdit.staff; let i = index">{{person.quantity}}
              {{person.name}} <i style="color:red" class="fa fa-close pull-right fa-lg deleteEvent" (click)="deletePersonalEdit(i)"></i>&nbsp;</li>
          </ul>
          <!-- Fin de Personal -->


          <div class="col-md-12 text-center" style="margin-top:30px">
            <button type="submit" class="btn btn-success">Actualizar Evento</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- moda para ver evidencia -->

<!-- Modal -->
