<header class="main-heading shadow-2dp">
  <!-- begin dashhead -->
  <div class="dashhead bg-white">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        App / Eventos
      </h6>
      <h3 class="dashhead-title">Eventos</h3>
      
    </div>

    <div class="dashhead-toolbar">
      <div class="dashhead-toolbar-item">
        <a>App</a>
        / Eventos
      </div>
    </div>
  </div>
  <!-- END: dashhead -->
</header>
<!-- END: .main-heading -->

<!-- begin .main-content -->
<div class="main-content bg-clouds">

  <!-- begin .container-fluid -->
  <div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-md-8">
        <!-- BEGIN: clave.js -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <header>
                <h3>Lista de eventos</h3>
                <div class="box-tools">
                  <i style="color:rgb(129, 120, 120)" class="fa fa-plus-circle fa-2x deleteEvent" (click)="openActivities()"></i>
                  <i style="color:rgb(129, 120, 120); margin-left:11px" class="fa fa-minus-circle fa-2x"></i>
                 </div> 
              </header>
              <div class="list-group filter-wrap">

                <article class="list-group-item" *ngFor="let event of eventsCollection; let i = index">

                  <header class="filter-header">



                    <i class="icon-action fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"></i>
                    <i class="icon-action fa fa-edit" style="color:#6fb478" (click)="editEvent(event)"></i>
                    <i class="icon-action fa fa-times" style="color:#d64040" (click)="deleteEvent(event)"></i>
                    <h6 class="title">{{event.name}} </h6>

                  </header>
                  <div class="filter-content collapse" id="{{'collapse' + i}}">
                      <div class="row">
                          <div class="col-md-6">
                    <b>Descripción:</b> {{event.description}} <br>
                    <b>Tipo de actividad:</b> {{event.actividad}} <br>
                    <b>Inicio:</b> {{event.start}} <br>
                    <b>Final:</b> {{event.end}} <br>
                    <b>Actividad:</b> {{event.activity_id }} <br>
                    <b>Usuario que lo realizará:</b> {{event.user_id}}
                  </div>
                  <div class="col-md-6">
                      <b>Herramientas:</b><br>
                      <ul>
                        <li *ngFor="let item of event.tools">{{item}}</li>

                      </ul>

                    </div>
                  </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- END: clave.js -->


      </div>

      <div class="col-md-4">
        <!-- BEGIN: flatpickr -->
        <div class="row">

          <div class="col-xs-12">
            <div class="box">
              <header class="bg-asbestos text-white">
                <h4>Crear nuevo evento</h4>
              </header>
              <div class="box-body collapse in">

                <form (submit)="addEvent()">
                  <div class="form-group">
                    <label for="itext">Nombre <span class="required">*</span></label>
                    <div class="icon-before-input">
                      <input type="text" class="form-control" name="name" [(ngModel)]="eventDoc.name" placeholder="Escriba un nombre para el evento ...">
                      <div class="icon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                    </div>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="form-group">
                    <label for="itext">Descripción </label>
                    <div class="">
                      <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                        name="description" [(ngModel)]="eventDoc.description" data-plugin="autosize"></textarea>
                    </div>
                  </div>
                  

                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label>Tipo de actividad <span class="required">*</span></label>
                    <select class="form-control" [(ngModel)]="eventDoc.type" name="type">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let item of types' [ngValue]="item" >{{item}}</option>
                    </select>
                  </div>

                  <hr class="b-s-dashed">

                  <div class="row text-center">
                    <div class="col-md-12">
                      <label for="">Inicio <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <input type="datetime-local" name="start" [(ngModel)]="eventDoc.start">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="">Final <span class="required">*</span></label>
                      <div class="input-group col-centered">
                        <input type="datetime-local" name="end" [(ngModel)]="eventDoc.end">
                      </div>
                    </div>
                  </div>
                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label class="">Usuario que realizara evento <span class="required">*</span></label>
                    <select class="form-control" [(ngModel)]="eventDoc.user_id" name="user">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let user of usersCollection' [selected]="user.id == eventDoc.user_id" [value]="user.id">{{user.name
                        | titlecase}}</option>
                    </select>
                  </div>
                  <hr class="b-s-dashed">
                  <div class="form-group">
                    <label>Actividad a la que pertenece <span class="required">*</span></label>
                    <select class="form-control" [(ngModel)]="eventDoc.activity_id" name="activity">
                      <option value="">Seleccione una opción </option>
                      <option *ngFor='let activity of activitiesCollection' [selected]="activity.id == eventDoc.activity_id"
                        [value]="activity.name">{{activity.name | titlecase}}</option>
                    </select>
                  </div>
                  <hr class="b-s-dashed">
                  <form (submit)="pushTool()">
                      <div class="form-group">
                        <label for="atext3">Herramientas</label>
                        <div class="icon-after-input">
                          <input type="text" class="form-control input-sm p-r-80" id="atext3" name="tool" placeholder="escriba..."
                            [(ngModel)]="tool">
                          <div class="icon">
                            <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                          </div>
                        </div>
                      </div>
                    </form>
  
                    <ul class="list-group list-group-flush">
  
                      <li class="list-group-item" *ngFor="let tool of eventDoc.tools; let i = index">{{tool}} <i style="color:red"
                          class="fa fa-close pull-right fa-lg deleteEvent" (click)="deleteTool(i)"></i>&nbsp;</li>
                    </ul>
  
                  <div class="col-md-12 text-center" style="margin-top:30px">
                    <button type="submit" class="btn btn-success">Crear Evento</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END: flatpickr -->

      </div>
    </div>
  </div>
  <!-- END: .container-fluid -->

</div>
<!-- END: .main-content -->



<!-- modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form (submit)="updateEvent()">
              <div class="form-group">
                <label for="itext">Nombre <span class="required">*</span></label>
                <div class="icon-before-input">
                  <input type="text" class="form-control" name="name" [(ngModel)]="eventDocEdit.name" placeholder="Escriba un nombre para el evento ...">
                  <div class="icon">
                    <i class="fa fa-fw fa-pencil"></i>
                  </div>
                </div>
              </div>

              <hr class="b-s-dashed">

              <div class="form-group">
                <label for="itext">Descripción </label>
                <div class="">
                  <textarea class="form-control" rows="3" id="textarea1" placeholder="Escriba un descripción para el proyecto ..."
                    name="description" [(ngModel)]="eventDocEdit.description" data-plugin="autosize"></textarea>
                </div>
              </div>
              <hr class="b-s-dashed">
              <div class="row">
                <div class="col-md-6">
                  <label for="">Inicio <span class="required">*</span></label>
                  <div class="input-group">
                    <input type="datetime-local" name="start" [(ngModel)]="eventDocEdit.start">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="">Final <span class="required">*</span></label>
                  <div class="input-group">
                    <input type="datetime-local" name="end" [(ngModel)]="eventDocEdit.end">
                  </div>
                </div>
              </div>
              <hr class="b-s-dashed">
              <div class="form-group">
                <label class="">Usuario que realizara evento <span class="required">*</span></label>
                <select class="form-control" [(ngModel)]="eventDocEdit.user_id" name="user">
                  <option value="">Seleccione una opción </option>
                  <option *ngFor='let user of usersCollection' [selected]="user.id == eventDocEdit.user_id" [value]="user.id">{{user.name
                    | titlecase}}</option>
                </select>
              </div>
              <hr class="b-s-dashed">
              <div class="form-group">
                <label>Actividad a la que pertenece <span class="required">*</span></label>
                <select class="form-control" [(ngModel)]="eventDocEdit.activity_id" name="activity">
                  <option value="">Seleccione una opción </option>
                  <option *ngFor='let activity of activitiesCollection' [selected]="activity.id == eventDocEdit.activity_id"
                    [value]="activity.id">{{activity.name | titlecase}}</option>
                </select>
              </div>
              <hr class="b-s-dashed">

              <form (submit)="pushToolEdit()">
                  <div class="form-group">
                    <label for="atext3">Herramientas</label>
                    <div class="icon-after-input">
                      <input type="text" class="form-control input-sm p-r-80" id="atext3" name="toolEdit" placeholder="escriba..."
                        [(ngModel)]="toolEdit">
                      <div class="icon">
                        <button class="btn btn-info btn-sm btn-rect" type="submit"><i class="fa fa-plus fa-lg"></i></button>
                      </div>
                    </div>
                  </div>
                </form>
      
                <ul class="list-group list-group-flush">
      
                  <li class="list-group-item" *ngFor="let toolEdit of eventDocEdit.tools; let i = index">{{toolEdit}} <i style="color:red"
                      class="fa fa-close pull-right fa-lg deleteEvent" (click)="deleteToolEdit(i)"></i>&nbsp;</li>
                </ul>
              <div class="col-md-12 text-center" style="margin-top:30px">
                <button type="submit" class="btn btn-success">Actualizar Evento</button>
              </div>
            </form>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
