/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-notifier/styles.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'flatpickr/dist/flatpickr.css';




/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}

.pointer:active{
    color: #96a3b1 !important;
}

.input-succes{
    border: rgb(60, 204, 60) 1px solid;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    z-index: 0 !important;
}